:root {
  --clr-body-bg: rgb(53, 39, 39);
  --clr-left-square: linear-gradient(rgb(54, 235, 38), rgb(157, 30, 207));
  --clr-right-square: linear-gradient(rgb(31, 31, 235), rgb(252, 56, 56));
  --clr-text: white;
  --clr-seconds: rgb(207, 184, 50);
  --clr-ampm: rgb(252, 252, 252);
  --clr-text-bg: rgba(255, 255, 255, 0.15);
  --clr-text-bg-shadow: rgb(255, 255, 255, 0.1);
  --clr-box-shadow: rgba(245, 90, 90, 0.2);
  --clr-fieldset1: rgba(255, 201, 22, 0.651);
  --font-family: consolas;
  --clr-bottom-button: rgba(177, 140, 19, 0.651);
  --clr-button-hover: rgba(247, 215, 111, 0.651);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background: var(--clr-body-bg);
}

section {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  content: "";
  position: absolute;
  top: 10%;
  right: 20%;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: var(--clr-right-square);
  animation: animate 5s ease-in-out infinite;
}

section::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background: var(--clr-left-square);
  animation: animate 5s ease-in-out infinite;
  animation-delay: 2.5s;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.reloj {
  position: relative;
  width: 700px;
  height: 250px;
  background: rgb(71, 60, 60, 0.05);
  box-shadow: 0 15px 25px var(--clr-box-shadow);
  z-index: 100;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.reloj .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.reloj .container h2 {
  font-size: 6em;
  color: var(--clr-text);
}

.reloj .container h2:nth-child(odd) {
  padding: 5px 15px;
  border-radius: 10px;
  background: var(--clr-text-bg);
  box-shadow: 0 15px 35px var(--clr-text-bg-shadow);
  margin: 0 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.reloj .container h2#segundo {
  color: var(--clr-seconds);
}

#am-pm {
  position: relative;
  top: -50px;
  font-size: 2em;
  color: var(--clr-ampm);
  font-weight: 700;
}

@media (max-width: 2501px) {
  section::after {
    bottom: 20%;
    left: 23%;
  }

  section::before {
    top: 20%;
    right: 22%;
  }
}

.visually-hidden {
  display: none;
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 2.4rem;
  background: var(--clr-fieldset1);
  width: fit-content;
  padding: 1rem 3rem;
  margin-inline: 5rem auto;
  border-radius: 0 0 1rem 1rem;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]#claro {
  --radio-color: rgb(255, 246, 255);
}

.color-picker input[type="radio"]#oscuro {
  --radio-color: rgb(97, 48, 8);
}

.color-picker input[type="radio"]#azul {
  --radio-color: rgb(0, 89, 255);
}

.color-picker input[type="radio"]#verde {
  --radio-color: rgb(72, 202, 33);
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.claro,
:root:has(#claro:checked) {
  --clr-body-bg: rgb(217, 211, 219);
  --clr-left-square: linear-gradient(
    rgba(105, 248, 236, 0.74),
    rgb(211, 125, 245)
  );
  --clr-right-square: linear-gradient(rgb(252, 144, 234), rgb(235, 247, 136));
  --clr-text: rgba(215, 63, 245, 0.781);
  --clr-seconds: rgb(98, 232, 236);
  --clr-ampm: rgb(255, 0, 242);
  --clr-text-bg: rgba(255, 255, 255, 0.37);
  --clr-text-bg-shadow: rgba(230, 146, 223, 0.226);
  --clr-box-shadow: rgba(197, 64, 250, 0.288);
  --clr-fieldset1: rgba(196, 93, 255, 0.705);
  --font-family: consolas;
  --clr-bottom-button: rgba(110, 25, 160, 0.705);
  --clr-button-hover: rgba(205, 119, 255, 0.705);
}

.oscuro,
:root:has(#oscuro:checked) {
  --clr-body-bg: rgb(53, 39, 39);
  --clr-left-square: linear-gradient(rgb(231, 216, 82), rgb(173, 95, 6));
  --clr-right-square: linear-gradient(rgb(250, 62, 15), rgb(235, 158, 57));
  --clr-text: white;
  --clr-seconds: rgb(224, 194, 24);
  --clr-ampm: rgb(252, 252, 252);
  --clr-text-bg: rgba(255, 255, 255, 0.15);
  --clr-text-bg-shadow: rgb(255, 255, 255, 0.1);
  --clr-box-shadow: rgba(245, 90, 90, 0.137);
  --clr-fieldset1: rgb(224, 194, 24);
  --font-family: consolas;
  --clr-bottom-button: rgb(161, 140, 18);
  --clr-button-hover: rgb(255, 221, 31);
}

.azul,
:root:has(#azul:checked) {
  --clr-body-bg: rgb(42, 39, 184);
  --clr-left-square: linear-gradient(rgb(184, 204, 3), rgb(0, 131, 0));
  --clr-right-square: linear-gradient(
    rgba(161, 20, 218, 0.747),
    rgb(86, 101, 240)
  );
  --clr-text: rgb(198, 248, 255);
  --clr-seconds: rgba(25, 255, 121, 0.87);
  --clr-ampm: rgba(236, 117, 38, 0.808);
  --clr-text-bg: rgba(220, 224, 255, 0.15);
  --clr-text-bg-shadow: rgba(162, 142, 255, 0.199);
  --clr-box-shadow: rgba(193, 194, 253, 0.116);
  --clr-fieldset1: rgba(236, 117, 38, 0.808);
  --font-family: Helvetica;
  --clr-bottom-button: rgba(146, 74, 26, 0.808);
  --clr-button-hover: rgba(255, 135, 56, 0.808);
}

.verde,
:root:has(#verde:checked) {
  --clr-body-bg: rgb(164, 235, 150);
  --clr-left-square: linear-gradient(rgb(235, 199, 38), rgb(207, 57, 30));
  --clr-right-square: linear-gradient(rgb(0, 225, 255), rgb(150, 252, 16));
  --clr-text: rgba(92, 187, 3, 0.952);
  --clr-seconds: rgba(156, 100, 202, 0.822);
  --clr-ampm: rgba(11, 196, 82, 0.966);
  --clr-text-bg: rgba(255, 255, 255, 0.212);
  --clr-text-bg-shadow: rgba(107, 238, 118, 0.178);
  --clr-box-shadow: rgba(12, 184, 49, 0.308);
  --clr-fieldset1: rgba(156, 100, 202, 0.822);
  --font-family: Helvetica;
  --clr-bottom-button: rgba(88, 25, 139, 0.822);
  --clr-button-hover: rgba(182, 118, 235, 0.822);
}

.boton-modal {
  top: 11em;
  right: 4.35em;
  position: relative;
}

.abrir-modal {
  z-index: 9999;
  background-color: var(--clr-fieldset1);
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px var(--clr-bottom-button);
  border: 0.1px solid var(--clr-bottom-button);
}

.abrir-modal:hover {
  background-color: var(--clr-button-hover);
}

.abrir-modal:active {
  background-color: var(--clr-fieldset1);
  box-shadow: 0 5px var(--clr-bottom-button);
  transform: translateY(4px);
}

.alarm-list-container {
  box-sizing: unset;
  z-index: 100;
  display: flex;
  position: fixed;
  background: var(--clr-fieldset1);
  width: 12em;
  height: 17em;
  padding: 10px 10px;
  margin-inline: 85% auto;
  bottom: -32vh;
  border-radius: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.alarm-list-container::after {
  content: "Alarmas";
  /* display: flex; */
  position: relative;
  background: var(--clr-fieldset1);
  /* width: 285em; */
  /* height: 17em; */
  padding: 10px 10px;
  margin-inline: 50px auto;
  bottom: 48px;
  border-radius: 1rem 1rem 0 0;
  justify-content: center;
}

.alarm-list-container:hover {
  transform: translateY(-300px);
}

.modal {
  display: none;
  padding: 1em;
  position: fixed;
  z-index: 101;
  top: 45%;
  border: 1px solid rgba(0, 0, 0, 0.151);
  left: 30%;
  max-width: unset;
  width: 37.5%;
  height: 20%;
  border-radius: 10px;
  background: var(--clr-fieldset1);
  box-shadow: 0 15px 25px var(--clr-box-shadow);
  backdrop-filter: blur(20px);
}

.alarma-hora {
  margin-top: 2em;
}

.cerrar-modal {
  position: absolute;
  right: 5%;
  bottom: 10%;
  background-color: rgb(255, 50, 50);
  padding: 5px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px rgb(66, 11, 11);
  border: 0.1px solid rgb(70, 2, 2);
}

.cerrar-modal:hover {
  background-color: rgb(255, 110, 110);
}

.cerrar-modal:active {
  background-color: rgb(255, 50, 50);
  box-shadow: 0 5px rgb(66, 11, 11);
  transform: translateY(4px);
}

.btn-alarm {
  position: absolute;
  left: 5%;
  bottom: 10%;
  background-color: var(--clr-fieldset1);
  padding: 5px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px var(--clr-bottom-button);
  border: 0.1px solid var(--clr-bottom-button);
}

.alarma-hora input[type="text"] {
  background: var(--clr-bottom-button);
  border: none;
  padding: 4px 6px;
  border-radius: 5px;
  width: 30px;
}

.alarma-hora label{
    font-weight: 600;
}